/*
 * Base style for TET platform
 */

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #00BCD4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

.turquoise             { color: #00bcd4; }
.dark-primary          { color: #1976D2; }
.default-primary       { color: #2196F3; }
.light-primary         { color: #BBDEFB; }

/*
 * Dataset quality indicator
 */

.very-poor { color: #FF0000; }
.poor { color: #FFAA00; }
.fair { color: #FFFF33; }
.good { color: #99FF00; }
.very-good { color: #00FF00; }

.progress-bar-very-poor { background: #FF0000 !important; color: #111 !important; }
.progress-bar-poor { background: #FFAA00 !important; color: #111 !important; }
.progress-bar-fair { background: #FFFF33 !important; color: #111 !important; }
.progress-bar-good { background: #99FF00 !important; color: #111 !important; }
.progress-bar-very-good { background: #00FF00 !important; color: #111 !important; }


.top5 { margin-top:5px !important; }
.top7 { margin-top:7px !important; }
.top10 { margin-top:10px !important; }
.top15 { margin-top:15px !important; }
.top17 { margin-top:17px !important; }
.top20 { margin-top:20px !important; }
.top25 { margin-top:25px !important; }
.top30 { margin-top:30px !important; }

.rtpa-btn {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #2196F3;
	*background-color: #2196F3;
	background-image: -moz-linear-gradient(top, #1976D2, #2196F3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1976D2), to(#2196F3));
	background-image: -webkit-linear-gradient(top, #1976D2, #2196F3);
	background-image: -o-linear-gradient(top, #1976D2, #2196F3);
	background-image: linear-gradient(to bottom, #1976D2, #2196F3);
	background-repeat: repeat-x;
	border-color: #2196F3;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1976D2', endColorstr='#2196F3', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.rtpa-btn:hover,
.rtpa-btn:focus,
.rtpa-btn:active,
.rtpa-btn.active,
.rtpa-btn.disabled,
.rtpa-btn[disabled] {
	color: #FFFFFF;
	background-color: #2196F3;
	*background-color: #003bb3;
}

body, html {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    font-size: 15px;
    line-height: 1.6em;
    height: 100%;
    background: #fff;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
}

#wrap > .container {
    padding-top: 60px;
}

#push {
    height: 90px;
}

.rtpa-logo {
    background-image: url(../images/rtpa-logo.png);
    background-size: auto 41px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 56px;
    width: 56px;
}

#footer {
    background-color: #BBDEFB; // #e3e3e3;
    padding-top: 20px;
    font-size: 13px;
    line-height: 1.6em;
    min-height: 80px;
}

.attribution .ckan-footer-logo {
    display: block;
    width: 68px;
    height: 21px;
    background: url("../images/ckan-logo-footer.png") no-repeat top left;
    text-indent: -900em;
    margin: 0 auto;
    margin-top: 10px;
}

.attribution .insight-footer-logo {
    display: block;
    width: 68px;
    height: 33px;
    background: url("../images/insight-logo-footer.png") no-repeat top left;
    text-indent: -900em;
    margin: 0 auto;
    margin-top: 7px;
}
.attribution-project {
    padding-top: 10px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
}

/* Search + Tags */ 
.tet-search-image {
    padding-top: 20px;
}

.search-ui {
    padding-top: 25px;
}

.search-ui .tags {
    *zoom: 1;
    padding: 5px 10px 10px 10px;
    margin: 0 auto;
    width: 100%;
    display: block;
}
.search-ui .tags:before,
.search-ui .tags:after {
    display: table;
    content: "";
    line-height: 0;
}
.search-ui .tags:after {
    clear: both;
}
.search-ui .tags span,
.search-ui .tags .tag {
    display: inline-block;
    margin: 5px 10px 0 0;
}

.search-ui {
    padding-top: 15px;
}


.search-ui .main-search {
    border: 1px solid #1976d2;
}

.search-ui .main-search,
.search-ui .main-search-btn {
    padding: 7px;
}

#homepage-search .search-ui .main-search {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    /* Firefox bug fix */
    float: left;
}

#homepage-search .search-ui .main-search, 
#homepage-search .search-ui .main-search-btn {
    font-size: 16px;
    padding: 15px;
}

#homepage-search .typeahead {
    padding: 15px 8px;
    margin: 0px;
}

#homepage-search .typeahead li {
    text-align: left;
    margin-left: 0px;
}

#search-results .dataset-heading {
    font-size: 17px;
    margin: 1.46rem 0 0.496rem 0;
}
#search-results .dataset-item {
    clear: both;
}

#search-results .select_dataset {
    margin-right: 5px;
    margin-top: -4px;
    display: none;
}

.dataset-resources li {
    display: inline;
}

.dataset-resources li .label {
    margin-right: 10px !important;
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
.dataset-resources li .label:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.dataset-services {
    float: left;
    margin-bottom: 30px;
}

.dataset-services li {
    display: inline;
    margin-right: 27px;
    color: #2196F3;
}

.dataset-service .fa {
    /* font-size: 22px; */
}

.dataset-service .disabled .fa {
    color: #B6B6B6;
}

.dataset-service .disabled:hover .fa {
  cursor: default;
}

.dataset-files .label {
    width: 28px;
    height: 16px;
    line-height: 16px;
}

.dataset-files i {
    margin-right: 14px;
}

.label {
  background-color: #59b0f6;
  text-align: center;
  margin-right: 36px !important;
}
.label[data-format=html],
.label[data-format*=html] {
  background-color: #2196f3;
}
.label[data-format=json],
.label[data-format*=json] {
  background-color: #0c83e1;
}
.label[data-format=xml],
.label[data-format*=xml] {
  background-color: #0962a9;
}
.label[data-format=text],
.label[data-format*=text] {
  background-color: #064271;
}
.label[data-format=csv],
.label[data-format*=csv] {
  background-color: #212df3;
}
.label[data-format=xls],
.label[data-format*=xls] {
  background-color: #2db55d;
}
.label[data-format=zip],
.label[data-format*=zip] {
  background-color: #686868;
}
.label[data-format=api],
.label[data-format*=api] {
  background-color: #f37e21;
}
.label[data-format=pdf],
.label[data-format*=pdf] {
  background-color: #f3212d;
}
.label[data-format=rdf],
.label[data-format*=rdf],
.label[data-format*=nquad],
.label[data-format*=ntriples],
.label[data-format*=turtle] {
  background-color: #21f3e7;
}

.order-by-header {
    margin-top: 1.46rem;
}

.order-by-header .active-filter {
    font-weight: bold;
}

.order-by-header h3 {
    color: #0088cc;
    font-size: 1.46rem;
    margin: 0;
}
#results-filter h3 {
    color: #0088cc;
    font-size: 1.46rem;
    margin: 1.46rem 0 2.24rem 0;
}

#results-filter h5 {
    color: #0088cc;
    font-size: 1.32rem;
    margin: 1.46rem 0 0.496rem 0;
}

#results-filter .list-group-item {
    margin: 0.9rem 0 0.496rem 0;
}

#results-filter input[type="checkbox"] {
    margin-right: 45px;
     transform: scale(1.2);
     -webkit-transform: scale(1.2);
}

#results-filter .results-count {
    font-size: 12px;
    line-height: 16px;
}

#results-filter .result-label {
    width: 90px;
    margin-right: 40px;
    display: inline-block;
}

#results-filter li.expand {
    padding-bottom: 35px;
}

#results-filter li.expand a {
    margin-right: 45px;
}

#results-filter .filter-hidden {
    display: none;
}

#search-results .dataset-list .dataset-item {
    margin-top: 35px;
    margin-bottom: 55px;
}

#search-results .dataset-list .dataset-item:nth-child(n+2) {

}

#search-results .dataset-resources {
    margin-top: 16px;
    float: right;
}

#search-results .dataset-services {
    margin-top: 16px;
}

a {
    outline: none;
}
a:focus {
    text-decoration: none;
    outline: none;
}
a:hover {
    color: #064887;
    text-decoration: none;
    outline: none;
}

b {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: #2196F3;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 1.1;
}
h1 {
    font-size: 4.2rem;
    margin: 2.1rem 0 1.68rem 0;
}
h2 {
    font-size: 3.56rem;
    margin: 1.78rem 0 1.424rem 0;
}
h3 {
    font-size: 2.92rem;
    margin: 1.46rem 0 1.168rem 0;
}
h4 {
    font-size: 2.28rem;
    margin: 1.14rem 0 0.912rem 0;
}
h5 {
    font-size: 1.64rem;
    margin: 0.82rem 0 0.656rem 0;
}
h6 {
    font-size: 1rem;
    margin: 0.5rem 0 0.4rem 0;
}

.text-justify {
  text-align: justify;
}


.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    background-color: #007dbe;
    color: #fff;
    height: 56px;
}

.navbar-fixed-top .btn-primary-login {
    color: #ffffff;
    text-shadow: none;
    background-image: none;
    background-color: #0088cc;
    border-color: #064887;
}

.navbar-fixed-top .head-buttons {
    line-height: 56px ;
}

.navbar-fixed-top .head-buttons a {
    margin: 0px 12px;
    color: #fff;
}

.navbar-fixed-top .language-bar {
    margin-top: 18px;
}


/* Languages tooltip */

.lang-dropdown-menu {
  padding: 10px;
  min-width: 80px;
  list-style: none;
}

.lang-dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #007dbe;
  white-space: nowrap;
}

.lang-dropdown-menu > li > a:hover,
.lang-dropdown-menu > li > a:focus,
.lang-dropdown-submenu:hover > a,
.lang-dropdown-submenu:focus > a {
  color: #000;
}

.lang-dropdown-menu > .disabled > a:hover,
.lang-dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.lang_item {

}

.lang_item span, .lang_item a {
    color: #fff;
    display: inline-block;
    /* padding-left: 22px; */
    background-position: 0 5px;
    margin: 0 !important;
}

.lang_item a {
    color: #007dbe !important;
}

.lang_item a:hover {
    background: #BBDEFB !important;
}

.lang_us,
.lang_en,
.lang_us:hover,
.lang_en:hover {
    background: url(../images/flags/GB.png) no-repeat 0px 3px !important;
}

.lang_fr,
.lang_fr:hover {
    background: url(../images/flags/FR.png) no-repeat 0px 3px !important;
}

.lang_it,
.lang_it:hover {
    background: url(../images/flags/IT.png) no-repeat 0px 3px !important;
}

.lang_nl,
.lang_nl:hover {
    background: url(../images/flags/NL.png) no-repeat 0px 3px !important;
}

/* Languages tooltip */
.language_popup {
    position: ;
    right: 0px;
    width: 80px;
    z-index: 100;

}
.language_popup .tooltip {
    top: 32px !important;
    padding-top: 2px;
    right: 0px;
}
.language_popup .tooltip_tail span {
    background-position: 1px -6px;
}
.language_popup .lang_tooltip .tooltip_body {
    max-width: 340px;
    padding: 0px;
}
.console_tooltip {
    z-index: 100;
}


.text-success { color: #2196F3; }
.btn-success { color: #fff; background-color: #2196F3; }

.search-input {
    font-size: 13px !important;
    padding: 8px 25px !important;
}

.filter-icons { line-height: 1.1; color: #0088cc; }

.media-list .media { padding-top: 20px; }
input[type="checkbox"] { margin-right: 20px; }

.avatar { width: 50px; }


/* Dataset details */

.dataset-title {
    margin: 1.68rem 0 2.1rem 0;
}

#main-chart {
    padding-bottom: 25px;
}

.dataset-services-as-divider {
    text-align: center;
}

.dataset-services-as-divider li {
    display: inline-block;
    margin-right: 25px;
}

.dataset-metadata p {
    display: inline;
}

base-ajax-json-alasql-datalet {
    display: none;
}

.dataset-files {
    margin-top: 25px;
}

.dataset-files li {
    margin-bottom: 15px;
}

.dataset-services-details {
    margin-top: 15px;
    margin-bottom: 7px !important;
}

.dataset-description p {
    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}


.dataset-details h5 {
/*    margin-top: 25px; */
    margin : 5px 0;
}


.dataset-details .row h5 small {
    margin-top: 32px;
    font-size: 75%;
}

.dataset-tags .label {
    margin-right: 6px !important;
    display: inline-block;
    padding: 8px 6px;
    margin-bottom: 10px;
}

.spod-discussion h5 small {
    color: #2196F3;
}

.dataset-details .dataset-quality .dataset-quality td {
    text-align: center;
}

.dataset-details .dataset-quality .progress {
    margin-bottom: 0px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4) !important;
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4) !important;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4) !important;
}

.dataset-details .dataset-quality th.text-center {
    text-align: center !important;
}


.panel-dataset {
    margin-top: 30px;
    border: 1px solid #2196F3 !important;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(33,150,243,0.5) !important;
    -moz-box-shadow: 0px 0px 20px 2px rgba(33,150,243,0.5) !important;
    box-shadow: 0px 0px 20px 2px rgba(33,150,243,0.5) !important;
}

.panel-dataset .panel-heading {
    color: #fff;
    border-bottom: 1px solid #2196F3 !important;
    background-color: #2196F3;
}

.panel-dataset .panel-heading h5 {
    color: #fff;
}

/* Table view */

input.js-zeroclipboard-target {
    padding: 10px;
    width: 85%;
}

.js-zeroclipboard-btn {
    padding: 10px;
    top: -5px;
    position: relative;
    outline: 0;
}

.js-zeroclipboard-btn:focus {
    outline: none;
}

/* PDF view */
.pdf-summary .label {
    padding: 7px 5px;
    margin-bottom: 9px;
    margin-right: 9px !important;
}

.pdf-summary .label a {
    color: #fff;
    text-decoration: underline;
}

.pdf-summary .summary {

    margin-bottom: 8px;

    -ms-word-break: break-all;
    word-break: break-all;

 /* Non standard for webkit */
     word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

@media (max-width: 767px){

    #homepage-search .search-ui .main-search-btn {
        font-size: 16px;
        padding: 5px;
        width: 120px;
    }

    .search-ui .main-search-btn {
        font-size: 16px;
        padding: 4px;
        width: 120px;
    }

}

/* Merging */

.merging input[type="checkbox"] {
    margin-right: 7px;
}

.merging .result-label {
    margin-right: 7px !important;
}

/* Anomaly detection */

.anomalyDetectionResults {
   display: none;
}

.anomalyChartsControls {
   display: none;
}

#noAnomalyDetected {
   display: none;
}

.anomalyConfigurationAlert {
   display: none;
}

.table-anomalies {
    font-size: 80%;
}

/* Bootstrap 3 addons */
.panel-group {

}

.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-heading {
  padding: 10px 15px;
  margin: -15px -15px 15px;
  font-size: 17.5px;
  font-weight: 500;
  background-color: #f5f5f5;
  border-bottom: 1px solid #dddddd;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel-footer {
  padding: 10px 15px;
  margin: 15px -15px -15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.panel-primary {
  border-color: #428bca;
}

.panel-primary .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-success .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-warning {
  border-color: #fbeed5;
}

.panel-warning .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.panel-danger {
  border-color: #eed3d7;
}

.panel-danger .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* Custom addons */
.table-borderless {
    margin: 0;
}
.table-borderless tr, .table-borderless td, .table-borderless th {
    border: none;
}
