{% load staticfiles %}
{% load i18n %}

{% block doc %}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{% block html %}
  <head>
    {% block head %}
    <title>{% block title %}TET{% endblock title %} | Transparency-Enhancing Toolset</title>

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TET Browser prototype">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'browser/images/favicon.ico' %}" />
    {% endblock metas %}

    {% block styles %}
    <!-- Bootstrap -->
    <link rel=stylesheet type=text/css href="{% static 'css/bootstrap-2.3.2.css' %}" />
    <link rel=stylesheet type=text/css href="{% static 'css/bootstrap-responsive-2.3.2.css' %}" />
    <link rel=stylesheet type=text/css href="{% static 'css/jssocials.css' %}" />
    <link rel=stylesheet type=text/css href="{% static 'css/jssocials-theme-tet.css' %}" />

    <link rel=stylesheet type=text/css href="{% static 'browser/css/tet-theme.css' %}" />
    <link rel=stylesheet type=text/css href="{% static 'css/c3.css' %}" />
    <link rel=stylesheet type=text/css href="{% static 'css/pivot.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">

    <!-- FontAwesome -->
    <link rel=stylesheet type=text/css href="{% static 'css/font-awesome.min.css' %}" />
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <link rel=stylesheet type=text/css href="{% static 'css/query-builder.default.min.css' %}" />
    
    {% endblock styles %}

    {% block scripts %}
    <script type="text/javascript" src="http://deep.routetopa.eu/deep_1_9_rev/COMPONENTS/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <!--<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script src="{% static 'js/widgets.js' %}"></script>
    <script src="{% static 'js/bootstrap-transition.js' %}"></script>
    <script src="{% static 'js/bootstrap-alert.js' %}"></script>
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>
    <script src="{% static 'js/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'js/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'js/bootstrap-tab.js' %}"></script>
    <script src="{% static 'js/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'js/bootstrap-popover.js' %}"></script>
    <script src="{% static 'js/bootstrap-button.js' %}"></script>
    <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'js/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>

    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>

    <!-- bootstrap-slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" rel="stylesheet">

    <script src="{% static 'js/ZeroClipboard.js' %}"></script>

    <script src="{% static 'js/jssocials.min.js' %}"></script>

    <script src="{% static 'js/ace.js' %}"></script>

    <script src="{% static 'js/d3.js' %}"></script>
    <script src="{% static 'js/c3.js' %}"></script>
    <script src="{% static 'js/pivot.js' %}"></script>
    <script src="{% static 'js/d3_renderers.js' %}"></script>
    <script src="{% static 'js/c3_renderers.js' %}"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'js/sql-parser.js' %}"></script>
    <script src="{% static 'js/query-builder.standalone.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>


    {% endblock scripts %}

    {% endblock head %}
  </head>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <body{% block body_attribs %}{% endblock body_attribs %}>

    <div id="wrap">

    {% block body %}

      {% block header %}
        {% include "browser/_header.html" %}
      {% endblock header %}

      <!-- Begin page content -->
      <div class="container">
        {% block content %}

        {% endblock content %}
      </div>

      <div id="push"></div>

    </div>  <!-- / #wrap -->

    {% block footer %}
      {% include "browser/_footer.html" %}
    {% endblock footer %}

    {% endblock body %}
  </body>
{% endblock html %}
</html>
{% endblock doc %}
