{% load staticfiles %}
{% block doc %}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{% block html %}
  <head>
    {% block head %}
    <title>{% block title %}TET{% endblock title %} | Transparency-Enhancing Toolset</title>

    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TET Browser prototype">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'favicon.ico' %}" />
    {% endblock metas %}

    {% block styles %}
    <!-- Bootstrap -->
    <link rel=stylesheet type=text/css href="{% static 'css/bootstrap-2.3.2.css' %}" />
    <link rel=stylesheet type=text/css href="{% static 'css/bootstrap-responsive-2.3.2.css' %}" />
    <link rel=stylesheet type=text/css href="{% static 'browser/css/tet-theme.css' %}" />

    <!-- FontAwesome -->
    <link rel=stylesheet type=text/css href="{% static 'css/font-awesome.min.css' %}" />

    {% endblock styles %}

    {% block scripts %}

    <!--<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="{% static 'js/widgets.js' %}"></script>
    <script src="{% static 'js/bootstrap-transition.js' %}"></script>
    <script src="{% static 'js/bootstrap-alert.js' %}"></script>
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>
    <script src="{% static 'js/bootstrap-dropdown.js' %}"></script>
    <script src="{% static 'js/bootstrap-scrollspy.js' %}"></script>
    <script src="{% static 'js/bootstrap-tab.js' %}"></script>
    <script src="{% static 'js/bootstrap-tooltip.js' %}"></script>
    <script src="{% static 'js/bootstrap-popover.js' %}"></script>
    <script src="{% static 'js/bootstrap-button.js' %}"></script>
    <script src="{% static 'js/bootstrap-collapse.js' %}"></script>
    <script src="{% static 'js/bootstrap-carousel.js' %}"></script>
    <script src="{% static 'js/bootstrap-typeahead.js' %}"></script>

    <script src="{% static 'js/script.js' %}"></script>

    {% endblock scripts %}

    {% endblock head %}
  </head>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <body{% block body_attribs %}{% endblock body_attribs %}>

    <div id="wrap">

    {% block body %}

      {% block header %}
        {% include "browser/_header.html" %}
      {% endblock header %}

      <!-- Begin page content -->
      <div class="container">
        {% block content %}

        {% endblock content %}
      </div>

      <div id="push"></div>

    </div>  <!-- / #wrap -->

    {% block footer %}
      {% include "browser/_footer.html" %}
    {% endblock footer %}

    {% endblock body %}
  </body>
{% endblock html %}
</html>
{% endblock doc %}
