{% load i18n %}
{% load staticfiles %}

        <div id="footer">

            <div class="container">

                <div class="row">
                    <div class="span2">
                        <img src="{% static 'browser/images/120x80_eu_flag.jpg' %}" alt="eu-flag" width="90" height="60" class="eu-flag">
                    </div>

                    <div class="span6 attribution-project">

                        <!-- <p>{% blocktrans %}Transparency-Enhancing Toolset (TET) is the next-generation open data portal containing set of tools that facilitate a better understanding of the data by providing connections and links to related datasets, and providing information about provenance.{% endblocktrans %}</p> -->
                        <p>{% blocktrans %}<a href="http://routetopa.eu">ROUTE-TO-PA project</a> has received funding from the European Union’s Horizon 2020 research and innovation programme under grant agreement No 645860.{% endblocktrans %}</p>

                    </div>
                    <div class="span2 attribution text-center">
                        <p>
                            {% blocktrans %}Powered by <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endblocktrans %}
                        </p>
                    </div>

                    <div class="span2 attribution text-center">
                        <p>
                            {% blocktrans %}TET interface developed by <a class="hide-text insight-footer-logo" href="http://insight-centre.org/">CKAN</a>{% endblocktrans %}
                        </p>

                    </div>
                </div>

            </div>
        </div>