            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">

                        <div class="pull-left">
                            <a href="#" class="btn btn-primary-login" id="login-popup">Login</a>
                        </div>

                        <div class="pull-right head-buttons">
                            <a href="/" class="btn-link">Home</a> | <a href="/about" class="btn-link">About</a> | <a href="#" class="btn-link" id="help-section-btn">Help</a> | <a href="/ckan" class="btn-link">Classic CKAN</a>
                        </div>

                        <span class="clearfix"></span>

                    </div>
                </div>
            </div>