{% load static %}
{% load i18n %}


    <nav class="navbar navbar-toggleable-sm navbar-inverse fixed-top bg-navbar">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="{% trans "Toggle navigation" %}">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="{% url "index" %}" class="rtpa-logo navbar-brand"></a>

        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="navbar-nav ml-auto">

<!--
                <li class="nav-item">
                    {% if user.is_anonymous %}
                        <a href="#" class="nav-link" id="login-popup">{% trans "Login" %}</a>
                    {% else %}
                        <a href="{% url 'django.contrib.auth.views.logout' %}" class="nav-link" id="login-popup">{% trans "Logout" %}</a>
                    {% endif %}
                </li>
-->

                <li class="nav-item">
                    <a href="{% url "index" %}" class="nav-link">{% trans "Home" %}</a>
                </li>

                <li class="nav-item">
                    <a href="{{SPOD_URL}}" class="nav-link">{% trans "SPOD" %}</a>
                </li>

<!--
                <li class="nav-item">
                    <a href="#" class="nav-link">{% trans "About" %}</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">{% trans "Help" %}</a>
                </li>
-->

                {% include "browser/_language_selector.html" %}

            </ul>

            {% if not HIDE_SEARCH_NAV %}
            <form class="form-inline my-2 my-lg-0 pl-5">
                <input name="query" class="form-control mr-sm-2" type="text" placeholder="{% trans "Search for datasets" %}" autocomplete="off" {% if query %} value="{{ query }}" {% endif %}>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"> {% trans "Search" %}</button>
            </form>
            {% endif %}

      </div>
    </nav>
