{% load i18n %}
{% load keyvalue %}

<div class="row-fluid">
    <div class="span6">

        {% if organizations %}
        <div>
            <div class="">
                <h5 class="">
                    <a data-toggle="collapse" href="#"> <i class="fa fa-institution" aria-hidden="true"></i>
                        {% trans "Publishers" %}
                    </a>
                </h5>
                <ul class="top15">
                    {% for organization in organizations %}
                    <li class="nav-item">
                        <a href="/search/?organization={{ organization }}" title="{{ organization|title }}">

                            <span>{{ organization.display_name|title }} <small>({{organization.package_count}})</small></span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        {% endif %}

        {% if tags %}
        <div>
            <div class="">
                <h5 class="">
                    <a data-toggle="collapse" href="#"> <i class="fa fa-tags" aria-hidden="true"></i>
                        {% trans "Tags" %}
                    </a>
                </h5>
            </div>
        </div>

        <ul class="top15">

            {% for tag in tags %}
            <li class="nav-item">
                <a href="/search/?tag={{ tag }}" title="{{ tag|title }}">

                    <span>{{ tag|title }} <small>({% keyvalue tags tag %})</small></span>
                </a>
            </li>
            {% endfor %}
        </ul>

        {% endif %}

    </div>
    <div class="span6">

        <div>
            <div class="">
                <h5 class="">
                    <a data-toggle="collapse" href="#"> <i class="fa fa-group" aria-hidden="true"></i>
                        {% trans "Roles" %}
                    </a>
                </h5>
            </div>


        </div>

        <div>
            <div class="">
                <h5 class="">
                    <a data-toggle="collapse" href="#"> <i class="fa fa-list" aria-hidden="true"></i>
                        {% trans "Categories" %}
                    </a>
                </h5>
            </div>


        </div>

        <div>
            <div class="">
                <h5 class="">
                    <a data-toggle="collapse" href="#"> <i class="fa fa-star" aria-hidden="true"></i>
                        {% trans "Openess Score" %}
                    </a>
                </h5>
            </div>
            <ul class="unstyled top15">
                <li class="nav-item">
                    <a href="/search/?openness_score=5" title="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>

                        <span>5</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/search/?openness_score=4" title="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                        <span>4</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/search/?openness_score=3" title="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                        <span>3</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/search/?openness_score=2" title="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                        <span>2</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/search/?openness_score=1" title="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                        <span>1</span>
                    </a>
                </li>

            </ul>

        </div>

    </div>

</div>
