{% load i18n %}
{% load translate_url %}

{% get_current_language as LANGUAGE_CODE %}



    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="langDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-language" aria-hidden="true"></i> {% trans "Language" %}</a>
        <input id="currentLanguage" value="{{ LANGUAGE_CODE|lower }}" style="display:none" >
        <div class="dropdown-menu" aria-labelledby="langDropdown">
            <a class="dropdown-item" href="{% translate_url en %}" class="btn-link">English</a>
            <a class="dropdown-item" href="{% translate_url it %}" class="btn-link">Italiano</a>
            <a class="dropdown-item" href="{% translate_url nl %}" class="btn-link">Nederlands</a>
            <a class="dropdown-item" href="{% translate_url fr %}" class="btn-link">Français</a>
        </div>
    </li>



