{% load i18n %}

<div class="container">
    <div class="row justify-content-md-center">
        <form class="form-search col-md-auto col-lg-8" action="{% url "search" %}" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{% trans "Search for datasets" %}" autocomplete="off">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"> <i class="fa fa-search" aria-hidden="true"></i> {% trans "Search" %} </button>
                </span>
            </div>
        </form>
    </div>
</div>
