{% load keyvalue %}
{% load i18n %}

{% if filters %}



    <!-- Centered Tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#refineType1"><i class="fa fa-list" aria-hidden="true"></i> {% trans "Filters" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#refineType2"><i class="fa fa-map-marker" aria-hidden="true"></i> {% trans "Attributes" %}</a>
      </li>
    </ul>


    <div class="tab-content">
        <div id="refineType1" class="tab-pane fade-in active filters-pane">



            {% if filters.themes %}

            <div class="panel-group">
                <div class="">
                    <div class="">
                        <h5 class="">
                            <a data-toggle="collapse" href="#"><i class="fa fa-users" aria-hidden="true"></i>
                                {% trans "Themes" %}
                            </a>
                        </h5>
                    </div>
                    <div class="panel-collapse">
                        <ul class="list-group list-unstyled">

                            {% for the in filters.themes %}
                                <li class="list-group-item list-group-item-action px-2 justify-content-between{% if forloop.counter > 5 %} filter-hidden{% endif %}">
                                    <span class="result-label col-10 pl-0">{% trans the %}</span>
                                    <span class="badge badge-default badge-pill">{% keyvalue filters.themes the %}</span>
                                    <input type="checkbox" class="float-right hidden-xs-up" filter-key="category" filter-value="{{the|lower}}">
                                </li>
                            {% endfor %}

                            {% if filters.themes|length > 5 %}
                                <li class="expand list-group-item">
                                    <a class="expand-btn float-right">  {% trans "Show More" %} <i class="fa fa-caret-down"></i> </a>
                                    <a class="reduce-btn float-right" style="display: none;">  {% trans "Show Less" %} <i class="fa fa-caret-up"></i> </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>

            {% endif %}

            {# TODO fix duplicates #}
            {% if filters.themes_ %}

            <div class="panel-group">
                <div class="">
                    <div class="">
                        <h5 class="">
                            <a data-toggle="collapse" href="#"><i class="fa fa-tag" aria-hidden="true"></i>
                                {% trans "Themes" %}
                            </a>
                        </h5>
                    </div>
                    <div class="panel-collapse">
                        <ul class="list-group unstyled">

                            {% for theme in filters.themes %}
                                <li class="list-group-item list-group-item-action px-2 justify-content-between{% if forloop.counter > 5 %} filter-hidden{% endif %}">
                                    <span class="result-label col-10 pl-0">{% trans theme %}</span>
                                    <span class="badge badge-default badge-pill">{% keyvalue filters.themes theme %}</span>
                                    <input type="checkbox" class="float-right hidden-xs-up" filter-key="category" filter-value="{{theme|lower}}">
                                </li>
                            {% endfor %}

                            {% if filters.themes|length > 5 %}
                                <li class="expand list-group-item text-right">
                                    <a class="expand-btn float-right">  {% trans "Show More" %} <i class="fa fa-caret-down"></i> </a>
                                    <a class="reduce-btn float-right" style="display: none;">  {% trans "Show Less" %} <i class="fa fa-caret-up"></i> </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>

            {% endif %}

            {% if filters.tags %}

            <div class="panel-group">
                <div class="">
                    <div class="">
                        <h5 class="">
                            <a data-toggle="collapse" href="#"><i class="fa fa-tags" aria-hidden="true"></i>
                                {% trans "Tags" %}
                            </a>
                        </h5>
                    </div>
                    <div class="panel-collapse">
                        <ul class="list-group unstyled">

                            {% for tag in filters.tags %}
                                <li class="list-group-item list-group-item-action px-2 justify-content-between{% if forloop.counter > 5 %} filter-hidden{% endif %}">
                                    <span class="result-label col-10 pl-0">{% trans tag %}</span>
                                    <span class="badge badge-default badge-pill">{% keyvalue filters.tags tag %}</span>
                                    <input type="checkbox" class="float-right hidden-xs-up" filter-key="tag" filter-value="{{tag|lower}}">
                                </li>
                            {% endfor %}

                            {% if filters.themes|length > 5 %}
                                <li class="expand list-group-item text-right">
                                    <a class="expand-btn float-right">  {% trans "Show More" %} <i class="fa fa-caret-down"></i> </a>
                                    <a class="reduce-btn float-right" style="display: none;">  {% trans "Show Less" %} <i class="fa fa-caret-up"></i> </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>

            {% endif %}

        </div>

        <div id="refineType2" class="tab-pane fade-in filters-pane">

            {% if filters.locations %}

            <div class="panel-group">
                <div class="">
                    <div class="">
                        <h5 class="">
                            <a data-toggle="collapse" href="#"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                                {% trans "Location" %}
                            </a>
                        </h5>
                    </div>
                    <div class="panel-collapse">
                        <ul class="list-group unstyled">

                            {% for loc in filters.locations %}
                                <li class="list-group-item list-group-item-action px-2 justify-content-between{% if forloop.counter > 5 %} filter-hidden{% endif %}">
                                    <span class="result-label col-10 pl-0">{{ loc }}</span>
                                    <span class="badge badge-default badge-pill">{% keyvalue filters.locations loc %}</span>
                                    <input type="checkbox" class="float-right hidden-xs-up" filter-key="location" filter-value="{{loc|lower}}">
                                </li>
                            {% endfor %}

                                <li class="expand list-group-item">
                            {% if filters.locations|length > 5 %}
                                    <a class="expand-btn float-right">  {% trans "Show More" %} <i class="fa fa-caret-down"></i> </a>
                                    <a class="reduce-btn float-right" style="display: none;">  {% trans "Show Less" %} <i class="fa fa-caret-up"></i> </a>
                            {% endif %}
                                </li>

                        </ul>
                    </div>
                </div>
            </div>

            {% endif %}

            {% if filters.periods %}

            <div class="panel-group">
                <div class="">
                    <div class="">
                        <h5 class="">
                            <a data-toggle="collapse" href="#"><i class="fa fa-calendar" aria-hidden="true"></i>
                                {% trans "Period" %}
                            </a>
                        </h5>
                    </div>
                    <div class="panel-collapse">
                        <ul class="list-group unstyled">

                            {% for per in filters.periods %}
                                <li class="list-group-item list-group-item-action px-2 justify-content-between{% if forloop.counter > 5 %} filter-hidden{% endif %}">
                                    <span class="result-label col-10 pl-0">{{ per }}</span>
                                    <span class="badge badge-default badge-pill">{% keyvalue filters.periods per %}</span>
                                    <input type="checkbox" class="float-right hidden-xs-up" filter-key="year" filter-value="{{per}}">
                                </li>
                            {% endfor %}

                            {% if filters.periods|length > 5 %}
                                <li class="expand list-group-item">
                                    <a class="expand-btn float-right">  {% trans "Show More" %} <i class="fa fa-caret-down"></i> </a>
                                    <a class="reduce-btn float-right" style="display: none;">  {% trans "Show Less" %} <i class="fa fa-caret-up"></i> </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>

            {% endif %}


            <div class="panel-group">
                <div class="">
                    <div class="">
                        <h5 class="">
                            <a data-toggle="collapse" href="#"><i class="fa fa-files-o" aria-hidden="true"></i>
                                {% trans "Format" %}
                            </a>
                        </h5>
                    </div>
                    <div class="panel-collapse">
                        <ul class="list-group unstyled">

                            {% for for in filters.formats %}
                                <li class="list-group-item list-group-item-action px-2 justify-content-between{% if forloop.counter > 5 %} filter-hidden{% endif %}">
                                    <span class="label result-label" data-format="{{for|lower}}" title="{{ for }}">{{ for|truncatechars:15 }}</span>
                                    <span class="badge badge-default badge-pill">{% keyvalue filters.formats for %}</span>
                                    <input type="checkbox" class="float-right hidden-xs-up" filter-key="format" filter-value="{{for|lower}}">
                                </li>
                            {% endfor %}

                            {% if filters.formats|length > 5 %}
                                <li class="expand list-group-item">
                                    <a class="expand-btn float-right">  {% trans "Show More" %} <i class="fa fa-caret-down"></i> </a>
                                    <a class="reduce-btn float-right" style="display: none;">  {% trans "Show Less" %} <i class="fa fa-caret-up"></i> </a>
                                </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>.
            </div>

        </div>

    </div>

{% endif %}
