{% load i18n %}

                                <form class="form-search" action="{% url "search" %}" method="get" placeholder="{% trans "Search for datasets" %}">
                                    <div class="input-append">
                                        <input type="text" class="span5 main-search" name="query" value="{{ query }}" autocomplete="off" />
                                        <button type="submit" class="span2 pull-right btn main-search-btn rtpa-btn"> <i class="fa fa-search" aria-hidden="true"></i> {% trans "Search" %} </button>
                                    </div>
                                </form>
