{% load keyvalue %}

{% if filters %}

    <h3>Refine by</h3>

    {% if filters.locations %}

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"> <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Location
                    </a>
                </h5>
            </div>
            <div id="collapse1" class="panel-collapse">
                <ul class="list-group unstyled">

                    {% for loc in filters.locations %}
                        <li class="list-group-item">
                            <span class="result-label">{{ loc }}</span>
                            <span class="results-count">( {% keyvalue filters.locations loc %} )</span>
                            <input type="checkbox" class="pull-right" filter-key="location" filter-value="{{loc|lower}}">
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    {% endif %}

    {% if filters.periods %}

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" href="#collapse2"><i class="fa fa-calendar" aria-hidden="true"></i> Period</a>
                </h5>
            </div>
            <div id="collapse1" class="panel-collapse">
                <ul class="list-group unstyled">

                    {% for per in filters.periods %}
                        <li class="list-group-item">
                            <span class="result-label">{{ per }}</span>
                            <span class="results-count">( {% keyvalue filters.periods per %} )</span>
                            <input type="checkbox" class="pull-right" filter-key="year" filter-value="{{per}}">
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    {% endif %}

    {% if filters.themes %}

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3"><i class="fa fa-tags" aria-hidden="true"></i> Themes</a>
                </h5>
            </div>
            <div id="collapse1" class="panel-collapse">
                <ul class="list-group unstyled">

                    {% for the in filters.themes %}
                        <li class="list-group-item">
                            <span class="result-label">{{ the }}</span>
                            <span class="results-count">( {% keyvalue filters.themes the %} )</span>
                            <input type="checkbox" class="pull-right" filter-key="category" filter-value="{{the|lower}}">
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>

    {% endif %}

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" href="#collapse4"><i class="fa fa-files-o" aria-hidden="true"></i>
                        Format</a>
                </h5>
            </div>
            <div id="collapse4" class="panel-collapse">
                <ul class="list-group unstyled">

                    {% for for in filters.formats %}
                        <li class="list-group-item">
                            <span class="label result-label" data-format="{{for}}">{{ for }}</span>
                            <span class="results-count">( {% keyvalue filters.formats for %} )</span>
                            <input type="checkbox" class="pull-right" filter-key="format" filter-value="{{for|lower}}">
                        </li>
                    {% endfor %}

<!--
                    <li class="list-group-item">
                        <span class="label result-label" data-format="xls">Spreadsheet</span>
                        <span class="results-count">( 3 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
                    <li class="list-group-item">
                        <span class="label result-label" data-format="csv">CSV</span>
                        <span class="results-count">( 6 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
                    <li class="list-group-item">
                        <span class="label result-label" data-format="json">JSON</span>
                        <span class="results-count">( 1 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
                    <li class="list-group-item">
                        <span class="label result-label" data-format="api">API</span>
                        <span class="results-count">( 1 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
                    <li class="list-group-item">
                        <span class="label result-label" data-format="graph">Graph</span>
                        <span class="results-count">( 2 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
                    <li class="list-group-item">
                        <span class="label result-label" data-format="txt">Text</span>
                        <span class="results-count">( 6 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
                    <li class="list-group-item">
                        <span class="label result-label" data-format="pdf">PDF</span>
                        <span class="results-count">( 6 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
-->
                </ul>
            </div>
        </div>
    </div>
{% endif %}

<!--
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">
                    <a data-toggle="collapse" href="#collapse3"><i class="fa fa-database" aria-hidden="true"></i> Content</a>
                </h5>
            </div>
            <div id="collapse3" class="panel-collapse">
                <ul class="list-group unstyled">
                    <li class="list-group-item">
                        <span class="result-label">Address </span>
                        <span class="results-count">( 4 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
                    <li class="list-group-item">
                        <span class="result-label">Email</span>
                        <span class="results-count">( 6 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
                    <li class="list-group-item">
                        <span class="result-label">Phone number</span>
                        <span class="results-count">( 1 )</span>
                        <input type="checkbox" class="pull-right">
                    </li>
                </ul>
            </div>
        </div>
    </div>
-->


