{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block content %}
                <div id="homepage-search" class="container">

                    {% if not TET_SIMPLE_HOMEPAGE %}
                        <ul class="nav nav-pills">
                            <li class="active">
                                <a data-toggle="tab" href="#homepage-search-tab"><i class="fa fa-search"></i></a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#homepage-categories-tab"><i class="fa fa-list"></i></a>
                            </li>
                        </ul>
                    {% endif %}


                    <div class="tab-content">

                        <div id="homepage-search-tab" class="tab-pane fade in active">
                            <div class="row text-center tet-search-image">
                                <img class="img-circle" alt="140x140" src="{% static 'browser/images/tet-search-graphics.png' %}" style="width: auto; height: 240px;">
                            </div>

                            <div class="row search-ui">

                                <div class="span8 offset2 text-center">

                                    <div class="row">

                                        {% include "browser/_search.html" with query=query %}

                                    </div>

                                    <div class="row">

                                        <div class="span8 Xoffset2 text-center" style="margin-top: 55px">
                                            <small>
                                                {% trans "TET search engine results are based on resources available at" %} <a href="{{ CKAN_URL }}" target="_blank">{{ CKAN_URL }}</a>. <br/>
                                                {% if datasets_count > 0 %}
                                                    {% trans "Currently there are" %} <strong>{{ datasets_count }}</strong> {% if datasets_count == 1 %} {% trans "dataset" %}{% else %}{% trans "dataset" %}{% endif %} {% trans "published by" %} <strong>{{ organizations_count }}</strong> {% if organizations_count == 1 %}{% trans "organization" %}{% else %}{% trans "organizations" %}{% endif %}.
                                                {% endif %}
                                            </small>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div id="homepage-categories-tab" class="tab-pane fade">
                            <h3>{% trans "Browse" %}</h3>
                            <p>...</p>
                        </div>

                    </div>

                </div>
{% endblock content %}
