{% extends "base.html" %}

{% load i18n %}

{% block title %} Dataset details {% endblock title %}

{% block content %}

                <div class="container">

                    <div class="row search-ui">

                        <div class="span8 offset3 text-left">

                            <div class="row">

                                {% include "browser/_search.html" with query=query %}

                            </div>

                        </div>

                    </div>

                </div>

                <div class="container merging">

                    <div class="row">
                        <h4 class="dataset-title"> {% trans "Merge Datasets" %}</h4>
                        <p>
                            {% trans "Please select desired files and use action buttons in order to see the results." %}
                        </p>
                    </div>

                    <div class="row">

                        <table class="table table-striped top20">

                            <tr class="">
                                <th class="span10 text-center"> {% trans "Files" %} </th>
                                <th class="span2 text-center"> {% trans "Actions" %} </th>
                            </tr>

                            {% for key, value in dataset_groups.items %}
                                <form method="post">
                                    {% csrf_token %}
                                        <tr
                                            {% if key == "other" and value %}
                                                class="error"
                                            {% endif %}
                                        >
                                            <td class="">
                                                {% for ds in value %}
                                                    <div class="top10">

                                                        {% if key != "other" %}
                                                            <input name="selected_rs" type="checkbox" value="{{ds.resource_id}},{{ds.name}}"/>
                                                        {% endif %}

                                                        <span class="label result-label" data-format="{{ds.format|lower}}">{{ ds.format }}</span>

                                                        <span> {{ds.title}} - {{ds.name}} </span>
                                                    </div>
                                                {% endfor %}
                                            </td>
                                            <td class="">
                                                {% if key == "other" and value %}
                                                    <div class="top10">
                                                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                                                        {% trans "Incompatible files can't be merged" %}

                                                    </div>
                                                {% elif key != "other" %}
                                                    <button type="submit" name="view" class="span3 top10 btn main-search-btn rtpa-btn"> <i class="fa fa-table" aria-hidden="true"></i> {% trans "View as table" %} </button>
                                                    <button type="submit" name="chart" class="span3 top10 btn main-search-btn rtpa-btn"> <i class="fa fa-bar-chart" aria-hidden="true"></i> {% trans "Explore as chart" %} </button>
                                                    <button type="submit" name="analyse" class="span3 top10 btn main-search-btn rtpa-btn"> <i class="fa fa-line-chart" aria-hidden="true"></i> {% trans "Analyse in PivotTable" %} </button>
                                                <button type="submit" name="merge" class="span3 top10 btn main-search-btn rtpa-btn"> <i class="fa fa-download" aria-hidden="true"></i> {% trans "Download combined datasets" %} </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                </form>
                            {% endfor %}

                        </table>
                    </div>

                </div>

            </div>

{% endblock content %}