{% extends "base.html" %}

{% load i18n %}

{% block title %} {% trans "Merge Datasets" %} {% endblock title %}

{% block content %}

            <form method="post" action="{% url 'combine' base_dataset.id %}">
                {% csrf_token %}

                <input id="api-link" type="hidden" value="{{API_LINK}}" />

                <div class="container merging">

                    <div class="row">
                        <div class="col">
                            <h4 class="dataset-title"> {% trans "Merge Datasets" %}</h4>
                        </div>
                    </div>

                    <ul class="nav nav-tabs mb-3">
                        <li role="presentation" class="nav-item">
                            <a class="nav-link active" href="#dataset-merge" aria-controls="dataset-merge" role="tab" data-toggle="tab"><h6>{% trans "Dataset Merging" %}</h6></a>
                        </li>
                        {% if base_dataset_resource_id %}
                        <li role="presentation" class="nav-item">
                            <a class="nav-link" href="#dataset-split" aria-controls="dataset-split" role="tab" data-toggle="tab"><h6>{% trans "Dataset Splitting" %}</h6></a>
                        </li>
                        {% endif %}
                    </ul>

                    <div class="tab-content my-2">
                        <div role="tabpanel" class="tab-pane fade show active" id="dataset-merge">

                            <div class="col-md-12 col-lg-10 col-lg-offset-1">

                                <div class="">
                                    <p>
                                        {% trans "This feature allow to combine one or more datasets." %}
                                        {% trans "Only datasets with the compatible schema can be merged." %}
                                    </p>
                                </div>


                                <div class="">

                                    {% if dataset_groups.items.other|length > 1 or dataset_groups.items|length > 1 %}

                                    <table id="merge-table" class="table my-4">

                                        <thead class="thead-inverse">
                                            <tr class="row">
                                                <th class="col-9 text-center"> {% trans "Files" %} </th>
                                                <th class="col-3 text-center"> {% trans "Actions" %} </th>
                                            </tr>
                                        </thead>

                                        <tbody>

                                        {% for key, value in dataset_groups.items %}

                                        {% if key != "other" and value %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <tr class="row">
                                                <td class="col-9 my-auto">

                                                    <table class="table table-borderless">
                                                        <tbody>
                                                        {% for ds in value %}
                                                        <tr class="row">
                                                            <td class="col-1 text-center">
                                                                {% if key != "other" %}
                                                                <input name="selected_rs" type="checkbox" value="{{ds.resource_id}},{{ds.name}}"/>
                                                                {% endif %}
                                                            </td>
                                                            <td class="col-1 text-center hidden-md-down">
                                                                <span class="label result-label" data-format="{{ds.format|lower}}">{{ ds.format }}</span>
                                                            </td>

                                                            <td class="col-9">
                                                                <span> {{ds.title}} - {{ds.name}} </span>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                                </td>

                                                <td class="col-3 my-auto text-center">
                                                    {% if key == "other" and value %}
                                                    <div class="top10">
                                                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                                                        {% trans "Incompatible files can't be merged" %}
                                                    </div>
                                                    {% elif key != "other" %}
                                                    <div class="row nav-row">
                                                        <button type="submit" name="view" class="btn btn-outline-primary col-9 mx-auto my-2"> <i class="fa fa-table" aria-hidden="true"></i> <span class="hidden-md-down"> {% trans "View as table" %} </span></button>
                                                        <button type="submit" name="chart" class="btn btn-outline-primary col-9 mx-auto my-2"> <i class="fa fa-bar-chart" aria-hidden="true"></i> <span class="hidden-md-down"> {% trans "Explore as chart" %} </span></button>
                                                        <button type="submit" name="analyse" class="btn btn-outline-primary col-9 mx-auto my-2"> <i class="fa fa-line-chart" aria-hidden="true"></i> <span class="hidden-md-down"> {% trans "Analyse" %} </span></button>
                                                        <button type="submit" name="merge" class="btn btn-outline-primary col-9 mx-auto my-2"> <i class="fa fa-download" aria-hidden="true"></i> <span class="hidden-md-down"> {% trans "Download" %} </span></button>
                                                    </div>
                                                    {% endif %}
                                                    <div class="clearfix"></div>
                                                </td>
                                                </tr>
                                            </form>
                                        {% endif %}
                                        {% endfor %}

                                        {% for key, value in dataset_groups.items %}
                                        {% if key == "other" and value %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <tr class="table-danger row">
                                                <td class="col-9 my-auto">

                                                    <table class="table table-borderless">
                                                        <tbody>
                                                        {% for ds in value %}
                                                        <tr class="row">
                                                            <td class="col-1 text-center">
                                                                {% if key != "other" %}
                                                                <input name="selected_rs" type="checkbox" value="{{ds.resource_id}},{{ds.name}}"/>
                                                                {% endif %}
                                                            </td>
                                                            <td class="col-1 text-center hidden-md-down">
                                                                <span class="label result-label" data-format="{{ds.format|lower}}">{{ ds.format }}</span>
                                                            </td>

                                                            <td class="col-9">
                                                                <span> {{ds.title}} - {{ds.name}} </span>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>

                                                </td>

                                                <td class="col-3 my-auto text-center">
                                                    {% if key == "other" and value %}
                                                    <div class="top10">
                                                        <i class="fa fa-exclamation" aria-hidden="true"></i>
                                                        {% trans "Incompatible files can't be merged" %}
                                                    </div>
                                                    {% elif key != "other" %}
                                                    <div class="row nav-row">
                                                        <button type="submit" name="view" class="btn btn-outline-primary col-9 mx-auto my-2"> <i class="fa fa-table" aria-hidden="true"></i> <span class="hidden-md-down"> {% trans "View as table" %} </span></button>
                                                        <button type="submit" name="chart" class="btn btn-outline-primary col-9 mx-auto my-2"> <i class="fa fa-bar-chart" aria-hidden="true"></i> <span class="hidden-md-down"> {% trans "Explore as chart" %} </span></button>
                                                        <button type="submit" name="analyse" class="btn btn-outline-primary col-9 mx-auto my-2"> <i class="fa fa-line-chart" aria-hidden="true"></i> <span class="hidden-md-down"> {% trans "Analyse" %} </span></button>
                                                        <button type="submit" name="merge" class="btn btn-outline-primary col-9 mx-auto my-2"> <i class="fa fa-download" aria-hidden="true"></i> <span class="hidden-md-down"> {% trans "Download" %} </span></button>
                                                    </div>
                                                    {% endif %}
                                                    <div class="clearfix"></div>
                                                </td>
                                                </tr>
                                            </form>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                    {% endif %}

                                </div>

                                {% if base_dataset %}

                                    <div class="row">

                                        <div class="col-md-6 col-sm-12">
                                            <h5>
                                                <i class="fa fa-file-o small" aria-hidden="true"></i> {% trans "Selected Dataset" %}
                                            </h5>

                                            <p class="mt-3"><strong>{{ base_dataset.title }}</strong></p>

                                            <p>
                                                {{ base_dataset.notes }}
                                            </p>

                                        </div>

                                        <div class="col-md-6 col-sm-12">

                                            <div class="panel-heading">

                                                <h5>
                                                    <i class="fa fa-files-o small" aria-hidden="true"></i> {% trans "Related Datasets" %}
                                                </h5>

                                            </div>

                                             <div class="">

                                                {% if SOM_API_URL %}

                                                    <div>
                                                        {% trans "Please use the slider in order to update the results." %}
                                                    </div>

                                                    <div class="col-10 py-2 mx-auto">
                                                        <div id="ds-rc-slider-merge" class=""></div>
                                                    </div>

                                                    <div id="ds-rc-output" class="py-2"></div>

                                                    <div>
                                                        <input type="hidden" id="ds-id" value="{{dataset_id}}"/>
                                                        <input type="hidden" id="ds-url" value="/{{LANGUAGE_CODE}}/dataset/"/>
                                                        <input type="hidden" id="ds-api-url" value="{{SOM_API_URL}}"/>
                                                    </div>

                                                {% else %}
                                                    <div class="list-group">
                                                    {% for ds in related_datasets %}
                                                        <a href="/{{LANGUAGE_CODE}}/dataset/{{ds.id}}" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="{{ds.notes|truncatewords:16}}" class="list-group-item list-group-item-action small pl-3"> <i class="fa fa-link mr-2" aria-hidden="true"></i>  {{ds.title}}</a>
                                                        <!-- <div> {{ds.notes|truncatewords:8}} </div> -->
                                                    {% endfor %}
                                                    </div>
                                                {% endif %}

                                                <div class="mt-3">

                                                    <div class="alert alert-warning" role="alert" style="display:none">
                                                        <strong>{% trans "Warning!" %}</strong> {% trans "Please select one or more elements from the list" %}
                                                    </div>

                                                    <button type="submit" id="combineDatasets" name="combine_datasets" value="combine_datasets" class="btn btn-primary float-right" href="{% url 'combine' dataset_id %}" role="button">
                                                        <i class="fa fa-compress" aria-hidden="true"></i>
                                                        {% trans "Combine Datasets" %}
                                                    </button>

                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                {% endif %}


                                </div>
                            </div>

                            {% if base_dataset_resource_id %}
                            <div role="tabpanel" class="tab-pane" id="dataset-split">

                                <div class="col-md-12 col-lg-10 col-lg-offset-1">

                                    <div class="row">
                                        <div class="col-12">

                                            <ul class="nav nav-tabs mb-3">
                                                <li role="presentation" class="nav-item">
                                                    <a class="nav-link active" href="#simplequery" aria-controls="simplequery" role="tab" data-toggle="tab">{% trans "Query Builder" %}</a>
                                                </li>
                                                <li role="presentation" class="nav-item">
                                                    <a class="nav-link" href="#sqlquery" aria-controls="sqlquery" role="tab" data-toggle="tab">{% trans "SQL Query" %}</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content my-2">
                                                <div role="tabpanel" class="tab-pane active" id="simplequery">

                                                    <div class="col-md-12 col-lg-10 col-lg-offset-1 my-3">
                                                        <div id="query-editor" class=""></div>
                                                    </div>

                                                    <form class="simplequeryNavbar navbar-form my-3">
                                                        <input id="query-api" type="hidden" value="{{ QUERY_API }}"/>

                                                        <button id="trigger" type="button" class="btn btn-outline-primary mr-2 pull-right"><i class="fa fa-bell-o" aria-hidden="true"></i> {% trans 'Alert' %}</button>
                                                        <button id="download" type="button" class="btn btn-outline-primary mr-2 pull-right"><i class="fa fa-download" aria-hidden="true"></i> {% trans 'Download' %}</button>
                                                        <button id="exe-query" type="button" class="btn btn-outline-primary mr-2 pull-right"><i class="fa fa-play" aria-hidden="true"></i> {% trans 'Run' %}</button>

                                                        <span class="clearfix"></span>
                                                    </form>

                                                    <div id="trigger-form" class="my-3" style="display: none;">

                                                        <form id="trigger-create-form">

                                                            <legend>{% trans 'Create Trigger' %}</legend>

                                                            <div class="form-group">
                                                                <label for="trigger-text">{% trans 'Notification' %}</label>
                                                                <textarea id="trigger-text" class="form-control" rows="3" placeholder="{% trans 'i.e. Overspending in budget' %}"></textarea>
                                                            </div>

                                                            <div class="form-group">
                                                                <label dor="trigger-email">{% trans 'Email' %}</label>
                                                                <input id="trigger-email" class="form-control" type="email" placeholder="user@routetopa.eu">
                                                                <small id="trigger-help" class="form-text text-muted">{% trans "We'll never share your email with anyone else." %}</small>
                                                            </div>

                                                            <button type="submit" id="trigger-create" class="btn btn-primary" disabled>{% trans 'Create' %}</button>

                                                        </form>

                                                        <div id="trigger-output"></div>

                                                    </div>

                                                    <div class="my-3">
                                                        <div id="query-output"></div>
                                                    </div>

                                                </div>

                                                <div role="tabpanel" class="tab-pane" id="sqlquery">

                                                    <div id="adv-query-editor" style="min-height: 100px;">SELECT  * from "{{ base_dataset_resource_id }}" LIMIT 10</div>

                                                    <div class="my-3">
                                                        <button id="adv-exe-query" type="button" class="btn btn-primary pull-right">{% trans 'Run' %}</button>
                                                        <span class="clearfix"></span>
                                                    </div>

                                                    <div class="my-3">
                                                        <div id="adv-query-output"></div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endif %}

                        </div>

                </div>

            </form>

{% endblock content %}