{% extends "base.html" %}
{% load i18n %}

{% block title %} Dataset details {% endblock title %}

{% block content %}

                <div class="container">

                    <div class="row search-ui">

                        <div class="span3 text-right">

                        </div>

                        <div class="span8 offset1 text-left">

                            <div class="row">

                                {% include "browser/_search.html" with query=query %}

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <h4 class="dataset-title"> {% trans "PDF Preview" %} </h4>

                </div>
                {% if text_analytics %}
                <div class="row">

                    {%if text_analytics.unique_relations %}
                    <h5>Summary</h5>
                        <ul>
                         {% for relations in text_analytics.unique_relations %}
                            <li>{{relations}}</li>
                         {% endfor %}
                        </ul>
                    {% endif %}

                    {%if text_analytics.entities %}
                    <h5>Entities</h5>
                         {% for entitiy in text_analytics.entities %}
                            <span>{{entitiy.text}} ({{entitiy.type}})&nbsp;</span>
                         {% endfor %}
                    {% endif %}

                    {%if text_analytics.concepts %}
                    <h5>Concepts</h5>
                         {% for concept in text_analytics.concepts %}
                            <a href="{{concept.dbpedia}}">{{concept.text}} </a>
                         {% endfor %}
                    {% endif %}

                    {%if text_analytics.keywords %}
                    <h5>Keywords</h5>
                         {% for keyword in text_analytics.keywords %}
                            <span>{{keyword.text}}&nbsp;</span>
                         {% endfor %}
                    {% endif %}

                    {%if text_analytics.dates %}
                    <h5>Dates</h5>
                         {% for date in text_analytics.dates %}
                            <span>{{date.text}}&nbsp;</span>
                         {% endfor %}
                    {% endif %}
        
                </div>
                {% endif %}
                <div class="row">
                  <embed src="{{url}}" width="100%" height="1000" type='application/pdf'>
                </div>

            </div>

{% endblock content %}
