{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Search results {% endblock title %}

{% block content %}

            <div class="container">
                <div class="container">

                    <div class="row search-ui">

                        <div class="span3 text-right">
                            
                        </div>

                        <div class="span8 offset1 text-left">

                            <div class="row">

                                <form class="form-search" action="/search" method="get">
                                    <div class="input-append">
                                        <input type="text" class="span5 main-search" name="query" value="{{ query }}" />
                                        <button type="submit" class="span2 pull-right btn main-search-btn"> <i class="fa fa-search" aria-hidden="true"></i> Search </button>
                                    </div>
                                </form>

                            </div>

                        </div>

                    </div>

                </div>

                {% if has_results == True %}

                <div class="row">

                    <div class="span3" id="results-filter">
                        {% include "browser/_search_filters.html" with filters=filters %}
                    </div>

                    <div class="span9" id="search-results">

                        <div class="row order-by-header">

                            <div class="span3 text-left"><h3>Order by:</h3></div>

                            <div class="span2 text-right active-filter"><a href="#" id="sort-btn-relevance" class="sort-btn">Relevance <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a></div>
                            <div class="span2 text-right"><a href="#" id="sort-btn-name" class="sort-btn">Name <i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a></div>
                            <div class="span2 text-right"><a href="#" id="sort-btn-date" class="sort-btn">Date <i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a></div>

                        </div>

                        <ul class="dataset-list unstyled">

                            {% for dataset in search_results %}
                                {% include "browser/_dataset_as_search_result.html" with dataset=dataset %}
                            {% endfor %}

                        </ul>

                    </div>

                </div>

                {% else %}

                <div class="container">
                    <div class="container text-center">

                        <h3>No results found.</h3>
                        <p>Please try another search.</p>

                    </div>
                </div>

                {% endif %}

                <div id="push"></div>

            </div>

{% endblock content %}
