{% extends "base.html" %}

{% load i18n %}

{% block title %} Dataset details {% endblock title %}

{% block content %}

                <div class="container">

                    <div class="row search-ui">

                        <div class="span8 offset3 text-left">

                            <div class="row">

                                {% include "browser/_search.html" with query=query %}

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <h4 class="dataset-title"> {% trans "Summary" %} </small></h4>

                </div>

                <div class="row">

                    <div class="span6">
                        <div class="panel panel-dataset">

                            <div class="dataset-description panel-heading">
                                <h5>
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> {% trans "Summary" %}
                                </h5>
                            </div>
                            <div class="panel-body dataset-description">
                                <p class="text-justify">
                                    <ul>
                                        {% for key, value in fields_description.items %} 
                                            <li>{% trans "The average value in field" %} <code>{{key}}</code> {% trans "is" %} <strong>{{value.mean}}</strong>. {% trans "The maximum value in the field is" %} <strong>{{value.max}}</strong> {% trans "and the minmum value in the field is" %} <strong>{{value.min}}</strong></li>
                                        {% endfor %}
                                    </ul>
                                </p>
                            </div>

                         </div>
                        <div class="panel panel-dataset">

                            <div class="dataset-description panel-heading">
                                <h5>
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> {% trans "Details" %}
                                </h5>
                            </div>
                            <div class="panel-body dataset-description">
                                <table class="table table-hover">
                                      <tr>
                                        <th>{% trans "Field name" %}</th>
                                        <th>{% trans "Summary" %}</th>
                                      </tr>
                                      {% for key, value in fields_description.items %} 
                                          <tr>
                                            <td><code>{{key}}</code></td>
                                            <td>
                                                {% for k, v in value.items %}
                                                    <strong>{{k}}</strong> = {{v}} 
                                                {% endfor %}
                                            </td>
                                          </tr>
                                       {% endfor %}
                                    </table>
                            </div>

                         </div>

                    </div>
                    <div class="span6">
                        <div class="panel panel-dataset">

                            <div class="panel-heading">

                                <h5>
                                    <i class="fa fa-bar-chart-o" aria-hidden="true"></i> {% trans "Box Plot" %}
                                </h5>

                            </div>

                            <div class="panel-body">
                                <div>
                                    <img src="/api/graph/{{resource_id}}"></img>
                                </div>
                                <div>
                                    <a href="http://www.wellbeingatschool.org.nz/information-sheet/understanding-and-interpreting-box-plots">{% trans "How can I understand this?" %}</a>
                                </div>
                            </div>

                        </div>
                        <div class="panel panel-dataset">

                            <div class="panel-heading">

                                <h5>
                                    <i class="fa fa-bar-chart-o" aria-hidden="true"></i> {% trans "Correlation Matrix" %}
                                </h5>

                            </div>

                            <div class="panel-body">
                                <div>
                                    <img src="/api/graph/{{resource_id}}/corr"></img>
                                </div>
                            </div>

                        </div>
                        <div class="panel panel-dataset">

                            <div class="panel-heading">

                                <h5>
                                    <i class="fa fa-share-square-o" aria-hidden="true"></i> {% trans "Share this page" %}
                                </h5>

                            </div>

                            <div class="panel-body">

                                {% trans "Use the icons below in order to share this page in your favourite Social Media." %}

                                <div id="social-sharing"></div>

                            </div>

                        </div>

                    </div>

                </div>
            


            </div>

{% endblock content %}