{% extends "base.html" %}

{% block title %} Dataset details {% endblock title %}

{% block content %}

                <div class="container">

                    <div class="row search-ui">

                        <div class="span3 text-right">

                        </div>

                        <div class="span8 offset1 text-left">

                            <div class="row">

                                <form class="form-search" action="/search" method="get">
                                    <div class="input-append">
                                        <input type="text" class="span5 main-search" name="query" value="{{ query }}" />
                                        <button type="submit" class="span2 pull-right btn main-search-btn"> <i class="fa fa-search" aria-hidden="true"></i> Search </button>
                                    </div>
                                </form>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <h4 class="dataset-title"> Tabular View </h4>

                </div>
                <div class="row">

                    <div >

                        <div class="dataset-description">
                            <h5>
                                <i class="fa fa-file-text-o" aria-hidden="true"></i> Description
                            </h5>
                            <p class="text-justify">
                                {{ dataset.notes }}
                            </p>

                        </div>

                        <div class="dataset-metadata">

                            <h5>
                                <i class="fa fa-info-circle" aria-hidden="true"></i> Metadata
                            </h5>
                            <div>
                                {{ metadata_box|safe }}
                            </div>

                        </div>

                    </div>
                </div>
                <br/>
                <div class="row">
                  <div class="well well-lg">

                      <legend class="the-legend">API Link</legend>

                      <div class="input-group-button">
                        <input type="text" class="js-zeroclipboard-target" value="{{API_LINK}}" aria-label="{{API_LINK}}" readonly="">

                        <button aria-label="Copy to clipboard" class="js-zeroclipboard-btn btn" data-clipboard-text="{{API_LINK}}" type="button">
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                        </button>

                      </div>

                  </div>
                </div>
                <div class="row">
                    <div>

                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#explorer" aria-controls="explorer" role="tab" data-toggle="tab">Data Explorer</a></li>
                        <li role="presentation"><a href="#pivottable" aria-controls="pivottable" role="tab" data-toggle="tab">PivotTable</a></li>
                        <li role="presentation"><a href="#discuss" aria-controls="discuss" role="tab" data-toggle="tab">SPOD Discussion</a></li>    
                      </ul>

                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="explorer">
                            <iframe width="100%" height="800" src="{{url_table}}" frameBorder="0"></iframe>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="pivottable">
                            <iframe width="100%" height="800" src="{{url_pivottable}}" frameBorder="0"></iframe>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="discuss">
                            <div class="spod-discussions">

                                <h5>
                                    <i class="fa fa-comments-o" aria-hidden="true"></i> Discussions at SPOD
                                </h5>
                                {% if spod_box_datasets %}
                                    {% for dataset in spod_box_datasets %}
                                        {% include "browser/_dataset_discussion.html" with dataset=dataset %}
                                    {% endfor %}
                                {% else %}
                                <p>
                                    This dataset has not been discussed in SPOD, be the first to discuss the dataset!
                                </p>
                                <br/><br/>
                                <p>
                                    <a href="{{ SPOD_URL }}" class="pull-right" data-original-title="" title=""> Start the discussion</a>
                                </p>
                                {% endif %}

                            </div>
                        </div>
                      </div>

                    </div>
                </div>


            </div>

{% endblock content %}